* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, black), to(#004890));
  background: linear-gradient(90deg, black 14%, #004890 100%);
  width: 100%;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: white;
}

.nav-link {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100%;
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.486)), to(rgba(27, 26, 26, 0.5))), url(https://www.hdcarwallpapers.com/walls/2015_subaru_wrx_sti_japan-wide.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(27, 26, 26, 0.5)), url(https://www.hdcarwallpapers.com/walls/2015_subaru_wrx_sti_japan-wide.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0px;
  z-index: 1;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transition {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  display: block;
  z-index: 5;
}

.transition .logo {
  width: 70%;
  height: 60%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

#intro-text {
  color: white;
  position: relative;
  font-size: 70px;
  padding-top: 2%;
  font-family: "Montserrat", sans-serif;
  padding-left: 2.5%;
  top: 20%;
  overflow: hidden;
  opacity: 0;
}

#intro-text1 {
  color: white;
  position: relative;
  font-size: 30px;
  top: 20%;
  padding-left: 2.5%;
  opacity: 0;
}

#learnBtn {
  position: relative;
  top: 30%;
  left: 2.5%;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.596);
  border: solid #004890;
  border-radius: 13px;
  color: white;
  padding-left: 48px;
  padding-right: 48px;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
}

#learnBtn:hover {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#vehicles {
  position: relative;
  bottom: 60px;
  text-align: center;
  color: #333;
  font-family: "Montserrat", sans-serif;
  padding-top: 1.4%;
  padding-bottom: 1%;
  width: 100%;
  opacity: 0;
}

#vehicles #text-vehicles {
  font-size: 49px;
}

.mb-4 {
  position: relative;
  top: 60px;
  margin-top: -70px;
}

.card {
  background-color: #f9f9f9;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card .hover-text {
  position: absolute;
  top: 47%;
  left: 36%;
  display: none;
}

.card:hover {
  background-color: #004890;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .bottom-line {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-line {
  margin: auto;
  width: 0%;
  height: 10px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-title {
  text-align: center;
}

#wrxBtn {
  outline: none;
}

#imprezaBtn {
  outline: none;
}

.contact {
  background-color: #1f1f11;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

.contact .left-contact {
  padding-top: 10px;
}

.contact .right-contact {
  position: absolute;
  right: 8%;
  padding-top: 10px;
}

.credit {
  background-color: #1f1f11d5;
}

.fab {
  font-size: 1.6em;
}

.credit {
  background-color: #1f1f11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-right: 1em;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}

@media only screen and (min-width: 1368px) {
  #intro-text {
    font-size: 95px;
  }
  #intro-text1 {
    font-size: 35px;
  }
  #learnBtn {
    position: relative;
    top: 25%;
  }
  .card-title {
    font-size: 37px;
  }
  .left-contact h3 {
    font-size: 50px;
  }
  #rightcontact {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .transition .logo {
    left: 57%;
  }
  #intro-text {
    position: relative;
    font-size: 65px;
    padding-left: 2.5%;
    top: 10%;
    overflow: hidden;
    text-align: center;
  }
  #intro-text1 {
    font-size: 22px;
    top: 10%;
    text-align: center;
  }
  #learnBtn {
    margin-left: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
  }
  .close-info {
    background-color: #ddd;
    font-size: 30px;
    position: relative;
    left: 20%;
  }
  .contact {
    font-size: 15px;
  }
  .contact h3 {
    font-size: 40px;
  }
  #rightcontact {
    font-size: 18px;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=index.css.map */