* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f9f9f9;
}

.navbar {
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, black), to(#004890));
  background: linear-gradient(90deg, black 14%, #004890 100%);
  width: 100%;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: white;
}

.nav-link {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100%;
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.486)), to(rgba(27, 26, 26, 0.5))), url(https://www.hdcarwallpapers.com/walls/2015_subaru_wrx_sti_japan-wide.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(27, 26, 26, 0.5)), url(https://www.hdcarwallpapers.com/walls/2015_subaru_wrx_sti_japan-wide.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0px;
  z-index: 1;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#intro-text {
  color: white;
  position: relative;
  font-size: 70px;
  padding-top: 2%;
  font-family: "Do Hyeon", sans-serif;
  padding-left: 2.5%;
  top: 20%;
  overflow: hidden;
}

#intro-text1 {
  color: white;
  position: relative;
  font-size: 30px;
  top: 20%;
  padding-left: 2.5%;
}

#learnBtn {
  position: relative;
  top: 30%;
  left: 2.5%;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.596);
  border: solid #004890;
  border-radius: 13px;
  color: white;
  padding-left: 48px;
  padding-right: 48px;
  font-family: "Do Hyeon", sans-serif;
}

#learnBtn:hover {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#vehicles {
  text-align: center;
  color: #333;
  font-family: "Do Hyeon", sans-serif;
  padding-top: 1.4%;
  padding-bottom: 1%;
  width: 100%;
}

#vehicles #text-vehicles {
  font-size: 49px;
}

.mb-4 {
  position: relative;
  top: 60px;
  margin-top: -70px;
}

.card {
  background-color: #f9f9f9;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card .hover-car {
  position: absolute;
  bottom: 50%;
  left: 37%;
  display: none;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  font-size: 70px;
}

.card .darrow-icon {
  font-size: 40px;
  position: relative;
  left: 50%;
  padding: 0px;
}

.card:hover {
  background-color: #004890;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .darrow-icon {
  color: white;
}

.card-title {
  text-align: center;
}

#wrxBtn {
  outline: none;
}

#imprezaBtn {
  outline: none;
}

#foresterBtn {
  outline: none;
}

#brzBtn {
  outline: none;
}

.car-info {
  background-color: #ddd;
  width: 100%;
  padding: 25px;
  margin-top: -20px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Do Hyeon", sans-serif;
  border-radius: 5px;
}

.car-info .close-info {
  background-color: #ddd;
  font-size: 30px;
  position: absolute;
  left: 85%;
}

.car-info1 {
  display: none;
  background-color: #ddd;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.view-moreBtn {
  background-color: #004890;
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
  padding-left: 10px;
  color: white;
}

.fa-chevron-right {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .intro {
    height: 94vh;
  }
  #intro-text {
    position: relative;
    font-size: 54px;
    padding-left: 2.5%;
    top: 10%;
    overflow: hidden;
    text-align: center;
  }
  #intro-text1 {
    font-size: 22px;
    top: 15%;
    text-align: center;
  }
  #learnBtn {
    margin: 0;
    position: relative;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .close-info {
    background-color: #ddd;
    font-size: 30px;
    position: relative;
    left: 20%;
  }
}
/*# sourceMappingURL=index.css.map */