html {
  scroll-behavior: smooth;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
}

p {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(14%, black), to(#004890));
  background: linear-gradient(90deg, black 14%, #004890 100%);
  width: 100%;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: white;
}

.nav-link {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100%;
}

.intro {
  width: 100%;
  margin-bottom: 37px;
}

.intro #wrx-video {
  position: absolute;
  left: -20;
  top: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.intro .video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.383);
}

.highlights {
  text-align: center;
  background-color: #e7e7e7;
  margin: 0px;
  padding-top: 1.5%;
}

.highlights #highlight-1 {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.highlights .section-1 {
  margin-top: 20px;
  text-align: center;
}

.highlights .section-1 .row {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.highlights .section-1 .row .col-sm {
  padding: 0px;
  width: 96%;
}

.highlights .section-1 .col-sm {
  margin: 8px;
}

#feature-txt {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.feature2 {
  background-color: black;
}

#wrx-engine {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
  padding-right: 0px;
  margin-right: 0px;
  border-right: 0px;
}

.infos2 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.models-txt {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.models {
  padding-top: 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.models .models-info {
  padding-top: 30px;
}

.models .models-p {
  padding-top: 15px;
  font-size: 20px;
}

#left-subaru-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fill-model-right {
  width: 0%;
  height: 10px;
  background-color: #004890;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#right-model:hover .fill-model-right {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fill-model-left {
  width: 0%;
  height: 10px;
  background-color: #004890;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#left-model:hover .fill-model-left {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact {
  background-color: #1f1f11;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}

.contact .left-contact {
  padding-top: 10px;
}

.contact .right-contact {
  position: absolute;
  right: 8%;
  padding-top: 10px;
}

.credit {
  background-color: #1f1f11ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-right: 1em;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}

.fab {
  font-size: 1.6em;
}

@media only screen and (min-width: 601px) {
  .intro .intro-text {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 7%;
  }
  .intro .intro-text h1 {
    font-size: 150px;
  }
  .intro .intro-text h2 {
    font-size: 45px;
    padding-top: 3%;
  }
  .intro .intro-text #intro-arrow {
    font-size: 40px;
    padding-top: 7%;
  }
  .left-photo {
    position: absolute;
    left: 2%;
    -webkit-clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
    width: 60%;
  }
  .infos1 {
    padding-top: 2%;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    width: 120%;
  }
  #info1 {
    padding-top: 8%;
  }
  #info2 {
    position: relative;
    padding-top: 25%;
    padding-left: 10%;
  }
  #info3 {
    padding-top: 25%;
    padding-left: 23%;
  }
  #wrx-engine {
    position: relative;
    left: 24%;
    bottom: 15%;
  }
  .right-info .infos2 {
    padding-top: 11%;
    font-size: 1.4em;
    position: relative;
    right: 12%;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  .models-txt {
    padding-top: 4%;
  }
}

@media only screen and (min-width: 1368px) {
  .intro {
    margin-bottom: 59px;
  }
  .intro .intro-text #intro-text2 {
    margin-top: 50px;
  }
  .intro .intro-text #intro-arrow {
    padding-top: 15%;
  }
  .right-info {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    font-size: 16px;
  }
  .feature2 {
    position: relative;
    top: 220px;
  }
  #wrx-engine {
    position: relative;
    left: 51%;
  }
  .models-txt {
    padding-top: 15%;
    padding-bottom: 0px;
  }
  #rightcontact {
    font-size: 28px;
  }
  .left-contact {
    font-size: 16px;
  }
  .left-contact h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .intro-text {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 12%;
  }
  .intro-text h1 {
    font-size: 70px;
  }
  .intro-text h2 {
    font-size: 35px;
    padding-top: 20%;
  }
  .intro-text #intro-arrow {
    font-size: 40px;
    padding-top: 30%;
  }
  #highlight-1 {
    margin-top: 14%;
    padding-top: 20px;
    font-size: 40px;
  }
  #wrx-feature-photo {
    margin-bottom: 0px;
    border: 0px;
    padding: 0px;
  }
  .left-photo {
    width: 100%;
    margin: 0px;
  }
  .p-3.mb-5 {
    margin-bottom: 0rem !important;
  }
  .right-info {
    font-size: 28px;
    text-align: left;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
    border: 0px;
  }
  .right-info .infos1 {
    padding-left: 5%;
    font-size: 20px;
    padding-top: 20px;
  }
  .right-info .infos2 {
    padding-left: 8%;
    font-size: 20px;
    padding-top: 20px;
  }
  .models-txt {
    padding-top: 30px;
  }
  .models-txt h1 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
  }
  .left-contact {
    font-size: 15px;
  }
  .left-contact h3 {
    font-size: 32px;
  }
  #rightcontact {
    font-size: 20px;
    padding-top: 14px;
  }
}
/*# sourceMappingURL=subaru-wrx.css.map */